<%- include('partials/header')%>
<div class="container">
  <h1><p>Welcome to BoxFinder</p></h1>
  <div class="container">
    
    <a class='btn btn-primary' href="/register">Sign in!</a>

    <a class='btn btn-primary' href="/boxes">Go to the boxes!</a>
  </div>
</div>
<%- include('partials/footer')%>