<%- include('partials/header')%>
<h1>Create a new Box</h1>

<form action="/boxes" method="POST">
  <input type="text" name="name" placeholder="name...">
  <input type="text" name="image" placeholder="image url">
  <button>Submit</button>
</form>
<a href="/boxes">Go Back</a>
<%- include('partials/footer')%>