<%- include('../partials/header')%>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Create a new Box</h1>
    <div style="width: 30%; margin: 30px auto;">
      <form action="/boxes" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="box[name]" placeholder="Box">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="box[image]" placeholder="Image">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="box[address]" placeholder="Address">
        </div>
        <div class="form-group">
          <button class="btn-primary btn-lg btn-default btn-block">Submit</button>
        </div>
      </form>
      <a class='btn btn-primary' href="/boxes">Go Back</a>
    </div>
  </div>
</div>
<%- include('../partials/footer')%>